# ============================================================
# .env.example
# Copie ce fichier en .env et remplis les vraies valeurs
# cp .env.example .env
# ============================================================

# URL du serveur Django
# En développement : http://localhost:8000
# En production    : https://bioattend.138.199.195.144.sslip.io
SERVER_URL=https://bioattend.138.199.195.144.sslip.io

# Token d'authentification API
API_TOKEN=ton_token_secret_ici

# Seuil de reconnaissance faciale
# < 0.60 = même personne | > 0.60 = personne différente
DISTANCE_THRESHOLD=0.60

# Seuil clignement yeux (liveness)
EAR_THRESHOLD=0.25

# Nombre de clignements requis
BLINK_COUNT_REQUIRED=1

# Délai max pour le clignement (secondes)
LIVENESS_TIMEOUT=5

# Pins GPIO (numérotation BCM)
GPIO_PIR=17

# Duree d'affichage des messages d'etat (secondes)
FEEDBACK_DURATION=3

# Résolution caméra
CAMERA_WIDTH=1280
CAMERA_HEIGHT=720
PICAMERA_INDEX=0

# Mode debug (True = affiche les logs détaillés)
DEBUG=True